@import "color-variables";
@import "layout-variables";

.planet {
  max-width: $max-content-width;
  margin: 0 auto;
  background-color: $section-background-color;
  overflow: hidden;
  padding: $md-offset;

  .planet-name-text {
    font-size: 29px;
    font-weight: 500;
  }

  .planet-image-container {
    .planet-image {
      width: 100%;
      background-position: center;
      background-size: cover;
      padding-bottom: 100%; // Square Aspect Ratio
    }
  }

  .planet-info-container {
    .tab-title {
      vertical-align: top;
      text-align: right;
      padding-right: $sm-offset;
    }
  }

  @media screen and (min-width: $break-md) {
    .planet-image-container, .planet-info-container {
      width: 50%;
      float: left;
    }

    .planet-info-container {
      padding-left: $md-offset;
    }
  }

  @media screen and (max-width: $break-sm) {
    .planet-info-container {
      .tab-title {
        display: block;
        text-align: left;
        font-size: 19px;
        margin-top: $md-offset;
      }

      .tab-info {
        display: block;
      }
    }
  }

}
